body {
  background: #282828;
  font-family: Consolas, "Courier New", Courier, monospace;
  color: #fff;
}
h1 {
  font-size: 36pt;
  text-align: center;
}
div#input {
  width: 900px;
  margin: auto;
}
input.input-text {
  background: #282828;
  border: 1px solid #fff;
  color: #fff;
  font-family: Consolas, "Courier New", Courier, monospace;
  font-size: 16pt;
  width: 900px;
}
input.input-button {
  background: #282828;
  border: 1px solid #fff;
  color: #fff;
  font-family: Consolas, "Courier New", Courier, monospace;
  width: 250px;
  font-size: 16pt;
  font-weight: bold;
}
input.input-button:hover {
  color: #57ff62;
  border-color: #57ff62;
}
input.input-button:active {
  color: #01ff12;
  border-color: #01ff12;
}
div#buttons {
  text-align: center;
}
input#button-step-fw {
  visibility: hidden;
}
div#output-message {
  background-color: #572222;
  border: 1px solid #9d3d3d;
  padding: 5px;
  margin-bottom: 20px;
  visibility: hidden;
}
div#output {
  width: 900px;
  margin: auto;
}
div#output-subject,
div#output-pattern,
div#output-colortest {
  margin-bottom: 50px;
  font-size: 24pt;
  width: 900px;
}
div#output-subject .match {
  color: #57ff62;
}
div#output-subject .nomatch {
  color: #9d3d3d;
}
