bgcolor      = #282828
successcolor = #57FF62

body
    background: bgcolor
    font-family: Consolas, "Courier New", Courier, monospace
    color: #FFF

h1
    font-size: 36pt
    text-align: center

div#input
    width: 900px
    margin: auto

input.input-text
    background: bgcolor
    border: 1px solid white
    color: #FFF
    font-family: Consolas, "Courier New", Courier, monospace
    font-size: 16pt
    width: 900px

input.input-button
    background: bgcolor
    border: 1px solid #FFF
    color: #FFF
    font-family: Consolas, "Courier New", Courier, monospace
    width:250px
    font-size: 16pt
    font-weight: bold

    &:hover
        color: successcolor
        border-color: @color
    &:active
        color: successcolor - 25%
        border-color: @color

div#buttons
    text-align:center

input#button-step-fw
    visibility: hidden

div#output-message
    background-color: #572222
    border: 1px solid (@background-color + 25%)
    padding: 5px
    margin-bottom: 20px
    visibility: hidden

div#output
    width:900px
    margin: auto

div#output-subject
div#output-pattern
div#output-colortest
    margin-bottom: 50px
    font-size: 24pt
    width:900px

div#output-subject
    .match
        color: successcolor
    .nomatch
        color: #572222 + 25%